svg {
  margin: 0 auto;
  padding: 25px;
  background-color: #f7f8f1;
  display: flex;
}

.tick line {
    stroke: #dbdbdb;
    stroke-dasharray: 5;
}

path.domain {
    stroke: #dbdbdb;
    stroke-width: 1px;
}

circle.circle { fill: #254251; stroke: #F9F8F3; }
