svg {
  margin: 0 auto;
  padding: 25px;
  overflow: visible;
  display: flex;
  background-color: #f8f7f1;
}

.axis, .axis text, text {
    font: 15px GillSansMTStd-Medium, GillSansW01-Medium;
  fill: #666;
  color: #666;
}

.axis path,
.axis line {
  fill: none;
  stroke: lightgrey;
  stroke-width: 1px;
  shape-rendering: crispEdges;
  stroke-dasharray: 5;
}
.axis .domain {
  stroke-width: 0px;
}

.line {
  fill: none;
  stroke: #254251;
  stroke-width: 2px;
}

.zero {
  stroke: lightgrey;
  stroke-width: 1px;
  stroke-dasharray: 5;
}
.annotation path, .annotation-connector {
    stroke: #E0AB26;
    stroke-width: 2px;
    fill: none;
}
.annotation path.connector-arrow, 
.annotation path.connector-dot, 
.title text, .annotation text {
    fill: #E0AB26;
    font: 13px GillSansMTStd-Medium, GillSansW01-Medium;
    fill: #696969;
    color: #696969;
}
.annotation-note-bg {
    fill: rgba(0, 0, 0, 0);
}
.annotation-note-title, text.title {
    font: 13px GillSansMTStd-Medium, GillSansW01-Medium;
    fill: #696969;
    color: #696969;
}
.annotation-note-content line { dispay: none; }
