svg {
    background-color: #fff;
    width: 100%;
}

.paletteTitle {
    font-size: 2.3em;
}
.label {
    font-family: "GillSansW01-Medium";
    font-size: .9em;
    fill: #898989;
}
.name {
    font-weight: 400;
    fill: black;
}
